:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #f6a8b8,
    #5bcefa
  );

  --vp-c-brand-1: #fc8da3;
  --vp-c-brand-2: #5bcefa;
}
